.gnb-container {
  display: flex;
  height: 0vh;
  width: 100%;
  font-weight: 400;
  transition: all 0.3s;
}

.gnb-wrap {
  width: 53rem;
  margin: 0 auto;
}

h2 {
  font-weight: 500;
}

.gnb__menu__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;
}

.grid-item {
  padding: 2rem 1rem 0 0;
}

.grid-item a h2 {
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 5px;
}

.grid-item a h3 {
  color: #696969;
  opacity: 0.6;
  font-size: 0.7rem;
  width: 100%;
  padding: 3px 0;
  margin-bottom: 5px;
}

.grid-item a:nth-child(1) {
  padding-right: 20px;
  padding-bottom: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.gnb__menu__more {
  position: absolute;
  color: #696969;
  font-size: 17px;
  right: -0.5rem;
  top: 2px;
}

.grid-item a:nth-last-child(1) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.grid-item-bigcate {
  padding: 2rem 1rem 0 0;
}

.grid-item-bigcate a {
  display: flex;
  position: relative;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
}

.gnb__menu__more__big {
  position: absolute;
  color: #696969;
  font-size: 17px;
  right: -0.8rem;
  top: 2px;
}

.grid-item-bigcate a h2 {
  font-size: 0.8rem;
}

@media (max-width: 750px) {
  .gnb-container {
    visibility: hidden;
  }
}
