img {
  width: 3.7rem;
  height: 1rem;
}

header {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid #dcdcdc;
  z-index: 100;
}
.header {
  display: flex;
  font-size: 0.7rem;
  width: 53rem;
  height: 2.5rem;
  font-weight: 600;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header__navigation__items {
  display: flex;
  position: relative;
}

.header__navigation__item {
  padding: 0.5rem;
}

.header__nav__hover h4 {
  position: relative;
}

.header__navigation__items li:nth-child(1) {
  display: none;
}

.header__nav__hover {
  position: relative;
}

.header__nav__hover h2 {
  position: absolute;
  font-size: 0.5rem;
  color: #5b84ff;
  top: 10px;
  left: 73px;
}

.header__nav__hover h4::after {
  content: "";
  position: absolute;
  bottom: -3px;
  transform: translateX(-100%);
  width: 0%;
  height: 2px;
  background: #f1c40f;
  transition: all 0.5s ease-in-out;
}

.header__nav__hover h4:hover::after {
  width: 100%;
}

.header__aside__items {
  display: flex;
  position: relative;
}

.header__aside__items li {
  padding: 0.5rem;
}

.header__aside__items li:nth-child(2) {
  display: flex;
  margin-right: -1rem;
}

.header__aside__search-svg {
  position: absolute;
  color: #696969;
  top: 15px;
  font-size: 1.3rem;
}

.header__aside__svg {
  color: #696969;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.2rem;
}

.header__aside__myinfo {
  position: relative;
  margin-top: 0.2rem;
}

.header__aside__myinfo span {
  position: absolute;
  border-radius: 5px;
  top: -1.5px;
  left: 15px;
  text-align: center;
  padding: 2px;
  font-size: 0.4rem;
  width: 8px;
  height: 8px;
  background-color: rgb(51, 102, 255);
  color: white;
}

.header__aside__bell {
  position: relative;
  margin: 0 1rem;
}

.header__aside__bell span {
  position: absolute;
  border-radius: 5px;
  top: -3.5px;
  left: 17px;
  text-align: center;
  padding: 2px;
  font-size: 0.4rem;
  width: 8px;
  height: 8px;
  background-color: rgb(51, 102, 255);
  color: white;
}

.header__aside__items li {
  display: flex;
}

.header__aside__items li:nth-child(2) {
  margin-top: 0.3rem;
}

.header__aside__items li:nth-child(3) {
  margin-top: 0.25rem;
  display: none;
}

.header__aside__items li:nth-child(5)::before {
  display: block;
  margin: 0 1.5rem 0 0.25rem;
  margin-top: 11px;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
}

button {
  outline: none;
  background-color: #eee;
  border: none;
  cursor: pointer;
}
a.dashboardButton {
  display: flex;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  font-weight: 400;
}

@media (max-width: 749px) {
  .header__logo__logo-img {
    display: none;
  }
  .header__navigation__items li:nth-child(1) {
    display: block;
  }
  .header__navigation__items li:nth-child(n + 4):nth-child(-n + 8) {
    display: none;
  }
  .header__aside__items li:nth-child(4),
  .header__aside__items li:nth-child(5) {
    display: none;
  }
  .header__aside__items li:nth-child(3) {
    display: block;
  }
}
